{%load static%}
<div style="width: 100%; padding: 30px;">
    <h1 style="text-align: center;" ><img width="45px" height="45px" src="{{logo}}" alt="">Radio Circuit</h1>

    <p style="font-size: 17px; text-align: center;">
        To change your password follow the link.
    </p>

    <p style="text-align: center;"><a href="{{link}}" 
        style="text-decoration: none; padding: 5px 10px; border-radius: 6px; background-color: rgb(64, 64, 255);color: aliceblue;font-size: 18px;font-weight: 600;"
        >Follow</a></p>
</div>