{% extends 'site_app/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-12">

            <h2>Recently added</h2>
            <div class="row row-cols-1 row-cols-md-2">
                {% for post in new_posts %}
                <div class="col mb-4">
                  <!-- Card -->
                  <div class="card">
              
                    <!--Card image-->
                    <div class="view overlay">
                      <img class="card-img-top" src="{{post.preview_image.url}}"
                        alt="Card image cap">
                      <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
              
                    <!--Card content-->
                    <div class="card-body">
              
                      <!--Title-->
                      <h4 class="card-title">{{post.title}}</h4>
                      <!--Text-->
                      <p class="card-text">{{post.description}}</p>
                      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                      <a href="{% url 'post' post.slug %}" class="btn btn-light-blue btn-md">Read more</a>
                      <span class="mx-3 text-muted align-middle">
                         <img width="20px" src="{% static 'svg/eye.svg' %}" alt=""> <b>{{post.views}}</b>
                      </span>
                    </div>
              
                  </div>
                  <!-- Card -->
                </div>
                {% endfor %}
            </div>
            <div class="m-3"></div>
            <hr>
            <div class="m-3"></div>
            <h2>Popular posts</h2>
            <div class="row row-cols-1 row-cols-md-2">

              {% for post in popular_posts %}
              <div class="col mb-4">
                <!-- Card -->
                <div class="card">
            
                  <!--Card image-->
                  <div class="view overlay">
                    <img class="card-img-top" src="{{post.preview_image.url}}"
                      alt="Card image cap">
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
            
                  <!--Card content-->
                  <div class="card-body">
            
                    <!--Title-->
                    <h4 class="card-title">{{post.title}}</h4>
                    <!--Text-->
                    <p class="card-text">{{post.description}}</p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <a href="{% url 'post' post.slug %}" class="btn btn-light-blue btn-md">Read more</a>
                    <span class="mx-3 text-muted align-middle">
                      <img width="20px" src="{% static 'svg/eye.svg' %}" alt=""> <b>{{post.views}}</b>
                    </span>
                  </div>
            
                </div>
                <!-- Card -->
              </div>
              {% endfor %}
                
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="sidebar row">

            <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">News</h4>
                  <!-- <p class="card-text text-muted">New messages</p> -->
                  
                  {% for item in news %}
                    <div class="d-flex">
                      <div class="news_img col-4" style="background-image: url('{{item.preview_image.url}}');"></div>
                      <div class="news_meta col-8 mx-1">
                        <a href="{% url 'single-news' item.slug %}" class="text-decoration-none">{{item.title}}</a>
                        <p class="text-muted">{{item.description}}</p>
                      </div>
                    </div>
                  {% endfor %}
                  
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Categories</h4>
                  <!-- <p class="card-text text-muted">New messages</p> -->
                  
                  <div class="d-flex flex-wrap">
                    {% for item in categories %}
                      <div class="m-2">
                        <a href="#" class="btn btn-sm bg-success text-dark bg-opacity-25">
                          <img src="{% static 'svg/bookmark.svg' %}" width="20px"/>
                          {{item.title}}
                        </a>
                      </div>
                    {% endfor %}
                  </div>
                  
                </div>
              </div>
            </div>
            
          </div>
        </div>
    </div>
</div>
{% endblock %}